/* .nav-container {
	display: flex;
	flex-direction: row-reverse;
} */

.nav-wrapper {
	font-size: 2rem;
	background-color: #900;
}

.nav-wrapper a {
	text-decoration: none;
	color: #f7f7f7;
	padding: 0 2rem;
}

.brand-logo {
	letter-spacing: 14px;
}
