html {
	scroll-behavior: smooth;
}

body {
	/* font-family: 'Roboto', sans-serif; */
}

.nav-wrapper {
	font-size: 1.6rem;
}

.nav-wrapper a {
	display: inline-block;
	text-decoration: none;
	color: #f7f7f7;
	padding: 0 2rem;
	transform: scale(1);
	transition: all 0.5s ease-in;
}

.nav-wrapper a:hover {
	display: inline-block;
	transform: scale(1.3);
	transition: all 0.5s ease-in-out;
}

.brand-logo {
	letter-spacing: 1.4rem;
	font-size: 2.2rem;
}

/* Animation */

@keyframes zoomLink {
	from {
		transform: scale(1);
	}
	to {
		transform: scale(1.2);
	}
}

@keyframes infinite-spinning {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
