
.containerAbout {
    display: flex;
    padding: 5px;
    width: 100%;
}
.about {
    flex-flow: row column;
    width: 70%;
    background-image: url();
    margin-top: 40px;
    margin-right: 10px;
    text-align: center;
}
.about p {
    padding: 20px 50px 40px;
}   
.contact {
    flex-flow: row column;
    margin-right: 20px;
    padding-top: 10px;  

}
.contactTitle {
    margin-top: 30px;
    margin-bottom: 30px;
}


button:hover {
    background-color:#343A40E5;
    transform: scale(1.1);
    transition: all 0.5s ease-in-out;
}
