.main-heading {
	text-align: center;
	font-size: 6rem;
	letter-spacing: 1.8rem;
	color: #000;
	margin: 0;
}

.carousel {
	height: 87vh;
	overflow: hidden;
}

.showcase-btn {
	/* transform: translateY(-130px); */
}
